.container{
    width: 100%;
}
.Home_about_us{
    width: 100%;
}
.about_left_home{

}
.about_left_home h4{

    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--text-fonts);

}
.about_left_home h2{
font-size: 3.2rem;
color: var(--text-black);
font-weight: 600;
font-family: var(--text-fonts);
margin-bottom: 20px;
}
.about_left_home p{
    margin-top: 20px;
    color: #b3b3b3;
    font-size: 2rem;
    width: 70%;
    margin-bottom: 20px;

}

.about_left_home .line_home{
    max-width: 80px  !important;
    max-height: 4px !important;
    background-color:var(--secondry-color) !important;
    border-radius: 10px;
}
.about_left_home  img{

    width: 79%;
    height: 270px;
    border-radius: 20px;
}
.about_content p{
    font-size: 2.2rem;
    font-family: var(--text-fonts);

}
.about_content span{
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 600;
}
.about_content h5{
    font-size: 2.5rem;
    font-family: var(--text-fonts);
    font-weight: 500;
}

.about_content  button{
    background: var(--secondry-color);
    border-radius: 7px;
    color: #fff;
    font-size: 2rem;
    padding:5px 10px;
    margin-top: 10px;

    border: none;
    font-family: var(--text-fonts);
    font-weight: 500;
}
.img_prd{
    width: 100%;
    height: 300px;
}
.home_products_img{
    margin: 50px 0;
}
.pd_details{
    position: absolute;
    bottom: 0;
    left: 50px;
}
.pd_details h3{
    font-size: 2rem;
    color: var(--text-white);

}
.pd_details div{
    max-height: 4px;
    max-width: 80px;
    background-color: var(--secondry-color);
    margin-bottom: 10px;
    margin-top: 10px;

    border-radius: 5px;
}
.pd_details p{
    font-size: 1.6rem;
    color: var(--text-white);
    width: 80%;

}
.div_trns{
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.products_range{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.products_range_box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.products_range_box img{
    width: 60px;
    height: 50px;
}
.products_range_box h4{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: var(--text-fonts);
}
.products_range_box p{
    font-size: 1.5rem;
    font-family: var(--text-fonts);

}
.offer_section{
text-align: center;
display: flex;
align-items: center;
flex-direction: column;
gap: 10px
}
.offer_section span{
    width: 90px;
    height: 90px;
    background-color: var(--secondry-color);
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer_section  img{
    width: 70px;
    height: 70px;
    padding: 5px;
}
.offer_section h2{
    font-size: 2.4rem;
}
.offer_section p{
    font-size: 1.5rem;
}
.card{
    width: 260px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(
        #5e9ad9, #e271ad,
      white max(9.5rem, 27vh)
    );
    overflow: hidden;
}
.card img{
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    /* height: max(10rem, 25vh); */
    max-height:250px;
    aspect-ratio: 4/3;
    mix-blend-mode:1;
    
height: 204px;
}
.card h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
  .card p{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    padding-left:3px;
  }
  
  .card a {
    color: inherit;
  }
  
  .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100vw;
    width: 120ch;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .slide_container{
    width: 100%;
    padding: 0 50px;
  margin-bottom: 50px;



  }
  .slick-slider{
    padding: 0 50px !important;
  }
  .contact_sections{
    width: 100%;
    /* background-image:linear-gradient(#16123fd6,#0c0a22d6), url("../public/images/contact_img.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    position: relative;
  }
  .gtran_bg{
    background:linear-gradient(#16123fd6,#0c0a22d6);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .contact_sections h2{
  font-size: 4rem;
  color: var(--text-white);
  margin-bottom: 10px;
  }
  .contact_sections h4{
    font-size: 1.6rem;
    color: var(--text-white);
    margin-bottom: 10px;
  }
  .contact_sections button{
    font-size: 2rem;
    color: var(--text-white);
    border: 2px solid var(--text-white);
    background-color: transparent;
    padding: 5px;
    border-radius: 6px;
  }
  .Gimage{
    position: absolute;
    width: 100%;
    top: 0;
  }
  
@media (max-width:576px) {
    .slide_container{
        width: 100%;
        padding: 0 30px;
    
    
      }

    .about_left_home  img{

        width: 100% !important;
        height: 270px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .about_left_home p{
        width: 100% !important;
    }

}